:root {
	--pink: #934968;
	--pink-light: #efe0e6;
	--pink-hover: #c09699;
	--powder-blue: #667586;
	--blue-light: #b1bac4;
}

html {
	font-size: 1.2em;
}

* {
	/* border: 1px solid lime; */
}

.bg-pink {
	background-color: var(--pink-light);
}

.bg-blue {
	background-color: var(--blue-light);
}

section {
	padding: 2rem;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

header {
	text-align: center;
	background-image: url("../img/header-background.jpg");
	background-size: cover;
	box-shadow: 0px 3px 3px #999;
	padding: 20px;
	position: relative;
	z-index: 10;
}

header h1 {
	margin: 0;
	color: #eee;
	text-shadow: 2px 2px 4px #333;
	font-size: 4em;
}

nav {
	margin-bottom: 1rem;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Josefin Slab', serif;
	color: #222;
	font-weight: bold;
}

table th {
	font-family: 'Josefin Slab', serif;
	font-size: 1.2em;
}

.logo-wrapper {
	max-width: 300px;
	padding: .5rem;
	background: #fff;
	margin: 0 auto;
}

/* Contact Us */

.contact-us-list {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	text-align: left;
}

.contact-us-list li {
	display: grid;
	grid-template-columns: 20px auto;
	gap: 0.5em;
	align-items: center;
}

.contact-us-list li a,
.contact-us-list li address {
	padding: 0.5em;
}

/* Helpers */

.brand {
	font-weight: bold;
	color: var(--pink);
}

/* .button.radius {
	font-weight: bold;
	font-size: 1.2em;
	color: #fff;
	background: #B38184;
	border: 2px dashed #fff;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #B38184, 0px 6px 6px #999;
	margin-bottom: 0;
	padding-left: 5px;
	padding-right: 5px;
}

a.button.radius:hover {
	transition-timing-function: ease-in-out;
	-webkit-transition: background-color 50ms ease-out;
	background: #c09699;
	box-shadow: 0 0 0 4px #c09699; 
} */

address {
	font-style: normal;
}

footer {
	padding: 1rem 2rem 0 2rem;
	text-align: center;
}

footer p {
	border-top: 1px solid #bbb;
	padding-top: 1em;
	color: #999;
}

.text-small {
	font-size: 0.8em;
}

dl.hours {
	grid-template-columns: 1fr 4fr;
	gap: 1em;
	line-height: 1.2;
}

dl {
	display: grid;
	grid-template-columns: min-content auto;
	gap: 0.5em;
}

dt {
	text-align: right;
}

/* Stitched Styles */

.stitched {
	padding: 16px;
	margin: 10px 0;
	border: 2px dashed #222;
	border-radius: 16px;
	box-shadow: 0 0 0 10px #fff;
	background: white;
}

.stitched.blue {
	border-color: white;
	background: var(--powder-blue);
	box-shadow: 0 0 0 10px var(--powder-blue);
}
.stitched.blue a,
.stitched.blue h2 {
	color: white;
}

.stitched.pink {
	color: white;
	border-color: white;
	background: var(--pink);
	box-shadow: 0 0 0 10px var(--pink);
}
.stitched.pink h2 {
	color: white;
}
.stitched.pink a {
	color: white;
	text-decoration: underline;
}
.stitched.pink a:hover {
	color: var(--pink-hover);
}