html {
	font-size: 1.4em;
}

body, h1, h2, h3, h4, h5, h6, ul.side-nav, .button {
		font-family: 'Josefin Slab', serif;
		color: #222;
}

h1, h2, h3 {
	font-weight: bold;
	color:#333;
}

body {
	background-color: #E6DFE0;
}

header {
	text-align: center;
	background-image: url("../img/header-background.jpg");
	background-size: cover;
	box-shadow: 0px 3px 3px #999;
	padding: 50px;
	position: relative;
	z-index: 10;
}

header h1 {
	margin: 0;
	color: #eee;
	text-shadow: 2px 2px 4px #333;
	font-size:4em;
}

.page-wrapper {
	box-shadow: 0px 2px 2px #666;
	background: #eee;
}

.page-wrapper > .row {
	padding-top:20px;
}

.sidebar {
	text-align: center;
	margin-bottom: 30px;
}

.brand {
	font-weight: bold;
	color: #b16283;
}

.stitched {
	text-align: center;
	padding: 16px;
	margin: 10px 0;
	background: #667586;
	color: #fff;
	border: 2px dashed #fff;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #667586;
	margin-bottom: 42px;
}

.stitched-pink {
	background: #9c8084;
	box-shadow: 0 0 0 4px #9c8084;
}

.stitched h3 {
	color: #fff;
	font-size: 1.4em;
	margin: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px dashed #fff;
}

.stitched p {
	margin: 0;
	font-size: 1em;
	line-height: 1.8em;
}

.stitched address {
	font-size: 1em;
}

.stitched span.brand {
	color: #d9b1c2;
}

ul.side-nav {
	text-align: center;
	padding-top: 0;
}

ul.side-nav li a {
	font-weight: bold;
	font-size: 1.5em;
	padding: 10px;
	margin: 20px 0;
	background: #6d9aaf;
	color: #fff !important;
	border: 2px dashed #fff;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #6d9aaf, 0px 6px 6px #999
}

ul.side-nav li a:hover {
	transition-timing-function: ease-in-out;
	-webkit-transition: background-color 50ms ease-out;
	background: #83a9bb;
	box-shadow: 0 0 0 4px #83a9bb; 
	color: #fff;
}

.button.radius {
	font-weight: bold;
	font-size: 1.2em;
	color: #fff;
	background: #B38184;
	border: 2px dashed #fff;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #B38184, 0px 6px 6px #999;
	margin-bottom: 0;
	padding-left: 5px;
	padding-right: 5px;
}

a.button.radius:hover {
	transition-timing-function: ease-in-out;
	-webkit-transition: background-color 50ms ease-out;
	background: #c09699;
	box-shadow: 0 0 0 4px #c09699; 
}

a.button.facebook {
	background: #3B5998;
	box-shadow: 0 0 0 4px #3B5998, 0px 6px 6px #999
}

a.button.facebook:hover {
	background: #5979be;
	box-shadow: 0 0 0 4px #5979be;
}

address {
	line-height: 1.5em;
	font-style: normal;
}

table {
	width: 100%;
	text-align: center;
}

table thead tr th {
	text-align: center;
	font-size: 1.8em;
	line-height: 1.4em;
}

footer {
	text-align: center;
}

footer p {
	border-top: 1px solid #bbb;
	padding-top: 20px;
	color: #999;
}

footer span.brand {
	color: #d9b1c2;
}

.th {
	display: block;
	margin: 0 auto;
}

.th:hover, .th:focus {
	-webkit-box-shadow: 0 0 6px 1px rgba(109, 154, 175, 0.8);
	box-shadow: 0 0 6px 1px rgba(109, 154, 175, 0.8);
}